body {
  font-family: monospace;
  color: white;
  background-color: black;
}

body, body * {
  max-height: 1000000px;
}

a {
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
}

[id^=section] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 3%;
  text-align: center;
}

#section-movies-list, #section-about, #section-contact {
  padding-top: 10%;
}

[id^=watch], .link {
  text-decoration: underline;
}

a:hover, .hover:hover, [id^=watch]:hover, #about-contact-btn, .selected {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.invisible {
  display: none;
}

.column {
  float:left;
  width: 33%;
  text-align: center;
  padding-top: 1%;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  iframe, img, [id^=section-] {
    width: 100%;
  }
  [id^=section-], [id$=-btn] {
    font-size: 45px;
  }

  #section-movies-list, #section-contact {
    padding-top: 40%;
  }

  #embedded-movies-list {
    font-size: 20px;
  }
}